@import url('fonts.css');

*
{
    font-size: 10px;

    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 100%;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

body
{
    font-family: 'Lato';
}

img
{
    height: auto;
}