@import url('fonts.css');

*
{
    font-size: 10px;

    margin: 0;
    padding: 0;
}

.wrapper
{
    width: 100%;
    margin: 0 auto;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

body
{
    font-family: 'Lato';
}

img
{
    height: auto;
}



/***** HEADER *****/


header
{
    background: url(../assets/images/header-bg1.jpg) no-repeat top center fixed;
    background-color: rgba(0 ,0, 0, .8);

    background-blend-mode: darken;
}

section.header
{
    display: flex;

    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;

    border-bottom: 1px solid rgb(46,46,48);

    justify-content: space-between;
    /* font-family: 'Lato-Medium', sans-serif; */
}

.header_logo
{
    font-size: 2.9rem;

    margin-top: 20px;

    cursor: pointer;
}

.header nav
{
    margin-top: 30px;
}

.top-nav a
{
    font-size: 1.2rem;
    font-weight: bold;

    margin-left: 55px;
    padding-bottom: 30px;

    color: rgb(255,255,255);
}

.top-nav .icon
{
    display: none;
}

.top-nav a:hover
{
    border-bottom: 1px solid rgb(255,255,255);
}

.header_welcome
{
    font-family: 'Arial', sans-serif;

    margin: 0 auto;
    padding: 22.5em 0;

    text-align: center;

    color: rgb(255,255,255);
}

.header_welcome h1
{
    font-size: 5.4rem;
}

.header_welcome p
{
    font-family: 'Georgia-Italic';
    font-size: 2.0rem;
    font-style: italic;
}

header
{
    width: 100%;
    height: auto;
}

.header nav ul
{
    display: flex;
}

@media screen and (min-width: 1280px)
{
    header
    {
        background-size: cover;
    }
}

@media screen and (max-width: 767px)
{
    section.header
    {
        display: flex;

        width: 90%;

        border-bottom: 0;
    }

    .top-nav a
    {
        font-size: 1.6rem;

        display: none;

        color: rgba(255, 255, 255, .3);
    }

    .top-nav a.icon
    {
        font-size: 2.5rem;

        display: block;
        display: block;
        float: right;

        margin-top: -15px;
        padding: 0;
    }

    .top-nav a:hover
    {
        color: rgb(255,255,255);
        border-bottom: 0;
    }

    .header nav ul
    {
        display: flex;
        flex-direction: column;
    }

    .header nav li
    {
        display: block;

        margin: solid 1px rgba(255, 255, 255, .986);
        padding: 0 1em;
    }

    .top-nav.responsive
    {
        position: relative;
        top: 50px;
        left: 10px;

        height: 220px;
    }

    .header .top-nav.responsive li:not(:last-child)
    {
        position: relative;
        right: 248%;
    }

    .top-nav.responsive a.icon
    {
        position: absolute;
        top: -50px;
        right: 15%;
    }

    .top-nav.responsive a
    {
        display: block;
        float: none;

        text-align: left;
    }
}

@media screen and (max-width: 480px)
{
    .header .top-nav.responsive li:not(:last-child)
    {
        position: relative;
        right: 100%;
    }
}


/***** MAIN *****/

/*** MAIN_MEMBER ***/


.main_member
{
    font-family: 'Lato-Bold', sans-serif;

    display: flex;
    float: initial;
    flex-direction: row;
    /* background-size: 100%; */

    width: 100%;
    /* background-image: url(../assets/images/login-bg.jpg); */

    background: url(../assets/images/login-bg.jpg) no-repeat center;
    background-size: cover;
}


.btn.btn.register:hover
{
    color: rgb(33, 66, 74);
}

.btn.btn.btn.login:hover
{
    color: rgb(47, 172, 108);
}

.btn
{
    font-size: 1.6rem;
    font-weight: bold;

    margin: 0 auto;
    padding: 35px 0;

    cursor: pointer;

    color: rgb(255,255,255);
    border: none;
    background-color: inherit;
}

.btn.login
{
    /* background-color: rgb(33, 66, 74); */
    width: 50%;
}

.btn.register
{
    /* background-color: rgb(47, 172, 108); */
    width: 50%;
}


/*** MAIN DOMAIN ***/


.main_domain h3
{
    font-family: 'Lato-Heavy', sans-serif;
    font-size: 1.6rem;

    margin-top: 60px;

    text-align: center;
}

.main_domain p
{
    font-size: 1.3rem;

    margin-top: 25px;
    margin-bottom: 35px;

    text-align: center;

    color: rgb(162, 162, 162);
}

.input-panel
{
    display: flex;

    width: 55%;
    height: 40px;
    margin: 0 auto;

    border: 1px solid rgb(217, 217, 217);
}

.input-panel p
{
    font-size: 1.3rem;

    margin: auto;
    padding: 0 10px;

    color: rgb(228, 228, 228);
}

.input-panel input
{
    font-family: 'Lato-Semibold', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;

    width: 88%;
    height: 27px;
    margin: auto 0;
    padding-left: 20px;

    color: rgb(162, 162, 162);
    border-color: rgb(217, 217, 217);
    border-top: 0;
    border-right: 1px solid;
    border-bottom: 0;
    border-left: 1px solid;
}

.input-panel .select-wrapper
{
    margin: auto;
    padding: 0 10px;
}

.input-panel select
{
    font-size: 1.3rem;

    height: 35px;

    cursor: pointer;

    color: rgb(203, 203, 203);
    border: 0 solid;
}

.input-panel select option
{
    font-size: 1.3rem;
}

.table-domains
{
    display: flex;
    flex-direction: column;

    width: 55%;
    height: 140px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 75px;

    color: rgb(203, 203, 203);

    justify-content: center;
}

.table-domains tbody
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    border: 1px solid rgb(217, 217, 217);

    justify-content: center;
}

.table-domains tbody tr td div
{
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.3rem;
}

.table-domains tbody tr
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 45%;

    align-items: center;
}

.table-domains tbody tr td
{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 80%;

    align-items: center;
    justify-content: center;
}

.table-domains tbody tr:nth-child(2)
{
    height: .1px;
}

.table-domains tbody tr:nth-child(2) td
{
    border: 0;
}

.table-domains tbody tr:nth-child(2) td hr
{
    width: 90%;

    border: 1px solid rgb(217, 217, 217);
}

.table-domains tbody tr:not(:nth-child(2)) td:not(:last-child)
{
    border-right: 1px solid rgb(217, 217, 217);
}

@media screen and (max-width: 768px)
{
    .table-domains table tr td
    {
        padding: 20px 30px;
    }

    .table-domains tbody tr td div
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px)
{
    .input-panel
    {
        width: 80%;
    }

    .table-domains
    {
        width: 80%;
    }
}

@media screen and (max-width: 540px)
{
    .table-domains table tr td
    {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 480px)
{
    .input-panel
    {
        width: 100%;
    }

    .table-domains
    {
        width: 100%;
    }

    .table-domains tbody tr td div
    {
        font-size: .9rem;
    }
}